.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 25%;
  left: 50%;
  width: 40rem;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 1rem 3rem;
}

.container {
  position: relative;
}

.toggles {
  position: relative;
  font-size: 1.3rem;
  border: none;
  font-weight: 700;
  line-height: 1.8rem;
  display: flex;
  align-items: center;
}

.toggle {
  background-color: transparent;
  border: none;
  padding: 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.25);
}

.amount {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.8rem;
}

.modalNone {
  font-size: 1.5rem;
  text-align: center;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top h4 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: 1.29px;
  text-transform: uppercase;
}

.items {
  margin: 3.2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.items h4 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-transform: uppercase;
}

.items p {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #000000;
  opacity: 0.5;
}

.items img {
  height: 6.4rem;
  width: 6.4rem;
  border-radius: 3px;
}

.btn {
  font-weight: 500;
  text-decoration: underline;
  color: #000000;
  opacity: 0.5;
  font-size: 1.5rem;
  line-height: 2.5rem;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.btnRemove {
  font-weight: 500;
  text-decoration: underline;
  color: #000000;
  opacity: 0.5;
  font-size: 1.2rem;
  line-height: 2.5rem;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.total {
  display: flex;
  justify-content: space-between;
}

.total h3 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #000000;
  opacity: 0.5;
}

.total h2 {
  font-weight: 700;
  line-height: 2.5rem;
  font-size: 1.8rem;
}

.checkoutBtn {
  width: 100%;
  height: 4.8rem;
  margin-top: 2.4rem;
  background-color: #d87d4a;
  outline: none;
  border: none;
  justify-self: center;
  cursor: pointer;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
