.ZX {
  background-color: #d87d4a;
  grid-column: 2/5;
  height: 56rem;
  border-radius: 0.8rem;
  display: flex;
  position: relative;
  overflow: hidden;
  margin-bottom: 4.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 17rem;
}

.ZX img {
  width: 35rem;
  height: 42rem;
  position: absolute;
  top: 16rem;
  left: 11.7rem;
  position: relative;
  z-index: 2;
}

.ZX div {
  grid-column: 2/-1;
  align-self: center;
  margin-right: 5rem;
  z-index: 3;
}

.ZX h1 {
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 5.8rem;
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase;
}

.ZX p {
  color: #ffffff;
  opacity: 0.75;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-top: 2.4rem;
  margin-bottom: 2rem;
}

.circle {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 17rem;
}
