.form {
  display: grid;
  padding: 5.4rem 4.8rem;
  grid-column: 2/3;
  background-color: white;
  border-radius: 10px;
  margin-top: 3.8rem;
  margin-bottom: 14.1rem;
}

.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3rem;
}

.section:not(:last-child) {
  margin-bottom: 5.4rem;
}

.form h1 {
  font-weight: 700;
  font-size: 3.2rem;
  text-transform: uppercase;
  line-height: 3.6rem;
  letter-spacing: 1.14px;
  margin-bottom: 4.1rem;
}

.form h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 2.5rem;
  letter-spacing: 0.93px;
  color: #d87d4a;
  margin-bottom: 1.6rem;
}

.form h4 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.65rem;
  letter-spacing: -0.21px;
}

.fieldodd {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;
  position: relative;
}

.fieldeven {
  position: relative;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;
}

.fieldlong {
  margin-bottom: 2.4rem;
  grid-column: 1/-1;
  flex-direction: column;
  display: flex;
}

.fieldpayment {
  grid-column: 2/3;
  margin-bottom: 2.4rem;
  position: relative;
}

.fieldpayment:hover {
  border: 1.5px solid #d87d4a;
  transition: border 0.2s;
}

.fieldpayment.active {
  border: 1.5px solid #d87d4a;
  transition: border 0.2s;
  grid-column: 2/3;
  margin-bottom: 2.4rem;
  position: relative;
}

.fieldpayment input {
  margin-bottom: 1.6rem;
  position: absolute;
  left: 0.5rem;
  top: 2.2rem;
  cursor: pointer;
}

.form label {
  font-weight: 700;
  font-family: inherit;
  line-height: 1.6rem;
  margin-bottom: 1rem;
}

.fieldCountry {
  height: 5.6rem;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
  background-color: #ffffff;
  outline: none;
  padding: 1.8rem 2.4rem;
  grid-column: 2/3;
  margin-top: 2.5rem;
  max-width: 20rem;
}

.fieldCountry:focus-within,
.fieldCity:focus-within {
  border: 1.5px solid #d87d4a;
  transition: border 0.2s;
}

.fieldCity {
  height: 5.6rem;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
  background-color: #ffffff;
  outline: none;
  padding: 1.8rem 2.4rem;
  grid-column: 1/2;
  margin-bottom: 0;
  max-width: 20rem;
}

.fieldpayment,
.fieldlong input,
.fieldeven input,
.fieldodd input {
  height: 5.6rem;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
  background-color: #ffffff;
  outline: none;
  padding: 1.8rem 2.4rem;
}

.fieldlong input:focus-within,
.fieldeven input:focus-within,
.fieldodd input:focus-within {
  border: 1.5px solid #d87d4a;
  transition: border 0.2s;
}

.fieldpayment,
.fieldlong input::placeholder,
.fieldeven input::placeholder,
.fieldodd input::placeholder {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.91rem;
  letter-spacing: -0.25px;
  color: #000000;
  opacity: 0.4;
}

.cash {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column: 1/-1;
  align-items: center;
}

.cash p {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #000000;
  opacity: 0.5;
  grid-column: 2/3;
  margin-left: 3.2rem;
}

.fieldlong.invalid input,
.fieldeven.invalid input,
.fieldodd.invalid input {
  height: 5.6rem;
  border-radius: 8px;
  border: 2px solid red;
  background-color: #ffffff;
  outline: none;
  padding: 1.8rem 2.4rem;
}

.label-invalid {
  color: red;
}

.fieldeven h5,
.fieldodd h5,
.fieldpayment h5 {
  color: red;
  position: absolute;
  right: 0.5rem;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: -0.21px;
}

.cardgroup {
  grid-column: 1/-1;
  margin: 0 15px 20px;
  padding: 1rem;
  border-style: none;
  background-color: #fff;
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 25%;
  left: 50%;
  width: 40rem;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultTitle {
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.resultMessage {
  font-weight: 500;
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
