.CategoryTop {
  height: 33.6rem;
  width: 100%;
  background-color: #0e0e0e;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 16.5rem repeat(3, 1fr) 16.5rem;
  grid-template-rows: 9.6rem 1fr;
  margin-bottom: 16rem;
}

.CategoryTop h1 {
  color: #fff;
  grid-column: 1/-1;
  grid-row: 2/-1;
  align-self: center;
  justify-self: center;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.4rem;
  letter-spacing: 1.43px;
}
