.Product {
  grid-column: 2/5;
  width: 100%;
  height: 56rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5.6rem;
}

.Product:not(:last-child) {
  margin-bottom: 16rem;
}

.Product h3 {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.91rem;
  letter-spacing: 1rem;
  color: #d87d4a;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.Product h1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.4rem;
  letter-spacing: 1.43px;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}

.Product p {
  font-weight: 500;
  color: #000000;
  font-size: 1.5rem;
  line-height: 2.5rem;
  opacity: 0.5;
  margin-bottom: 2rem;
}

.Product .asideright {
  grid-column: 2/-1;
  align-self: center;
  text-align: left;
  width: 44.5rem;
  margin-left: 12.5rem;
}

.imageContainer {
  grid-column: 1/2;
}

.Product img {
  height: 46rem;
  width: 44rem;
  border-radius: 8px;
}

.imageContainerOpp {
  grid-column: 2/-1;
  grid-row: 1/2;
}

.Product .asideleft {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
  margin-right: 12.5rem;

  width: 34.3rem;
  text-align: left;
}

.Product .price {
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 1.29px;
  line-height: 2.5rem;
  color: #000000;
  opacity: 1;
}
