.button {
  background-color: #d87d4a;
  width: 16rem;
  height: 4.8rem;
  border: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.8rem;
  letter-spacing: 1px;
  font-family: inherit;
  text-transform: uppercase;
  margin: 2rem auto;
  cursor: pointer;
}

.button:hover {
  background-color: #fbaf85;
  transition: background-color 0.3s;
}
